/Saved
/.vs
/Binaries
/Intermediate
/DerivedDataCache
/*.sln
/Content/InfinityBladeWeapons
/Content/Developers
/Content/Collections
/Content/Characters
/Content/AdvancedMagicFX12
/Content/StarterContent
/Content/Audio
